{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>2024 Presidential Forecast</h1>

{% if insights %}

    <div class="insight-section">
        {% if insights.simulations_summary %}
        <img src="{{ url_for('static', filename='plots/election_win_probabilities.png') }}" alt="Election Win Probabilities" class="main-image">

            <p>{{ insights.electoral_college_votes|join(', ') }}</p>
            <p>{{ insights.simulations_summary|join(', ') }}</p>
        {% else %}
            <p>No election win probabilities available at this moment. Please check back later.</p>
        {% endif %}
    </div>

    <div class="insight-section">
        {% if insights.close_states %}
            <img src="{{ url_for('static', filename='plots/win_probability_map.png') }}" alt="Win Probability Map" class="main-image">
            <p>{{ insights.close_states|join(', ') }}</p>
        {% else %}
            <p>No close states information available at this moment. Please check back later.</p>
        {% endif %}
    </div>

    <div class="insight-section">
        {% if insights.polling_averages %}
            <img src="{{ url_for('static', filename='plots/national_polling_averages.png') }}" alt="National Polling Averages" class="main-image">
            <p>{{ insights.polling_averages|join(', ') }}</p>
        {% else %}
            <p>No national polling averages available at this moment. Please check back later.</p>
        {% endif %}
    </div>
    
{% endif %}

{% endblock %}